@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Epilogue", sans-serif;

  background-color: #5adbe2;
}

.container {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 6rem 2.3rem 7.7rem;
}

p:nth-child(1) {
  line-height: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;

  margin-bottom: 1.7rem;

  color: #7158ef;
}

h1 {
  width: 32.9rem;
  height: 14.4rem;

  font-size: 4rem;
  font-weight: 800;
  line-height: 4.8rem;

  color: #090039;

  margin-bottom: 1.5rem;
}

p:nth-child(3) {
  line-height: 3.2rem;

  color: #0a0039a3;
  margin-bottom: 3.2rem;
}

#more {
  text-decoration: none;
  color: #0a0039a3;

  line-height: 32px;
}

ul li {
  max-width: 25.7rem;
  display: flex;

  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #090039;

  margin-top: 7.7rem;
}

ul li span {
  font-size: 7.2rem;
  font-weight: 800;

  margin-right: 2.5rem;
  line-height: 8rem;
}

.bf {
  margin-right: 3.8rem;
}
@media (min-width: 768px) {
  body {
    padding: 4rem;
  }

  .container {
    max-width: 1200px;
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    max-width: 500px;
  }

  ul li {
    gap: 5.3rem;
    max-width: 450px;
  }

  .wrapper > p {
    margin-bottom: 3rem;
  }

  h1 {
    margin-bottom: 4rem;
  }
}
